 
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
 
/* h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
} */
.noto-serif-font{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font: weight 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


.inter-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(245, 248, 255);
}
/* shared styles */
.display-flex{
    display: flex;
}
.text-gray{
    color: #8987A1;
}
.text-home{
    color: #252432;
    font-weight: 700;
    
}
.text-cart{
    color: black;
}
.text-color-orange{
    color: #E95A08;
}
.btn-primary{
    background-color: #E95A08;
    color: #FFFFFF;
    padding: 19px 80px;
    font-weight: 600;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}

/* navbar related styles */
.navbar{
     justify-content: space-between;
     align-items: center;
     margin-bottom: 120px;
}
.nav-item{
    list-style: none;
    margin:0 48px;
}
.nav-link{
    text-decoration: none;
}
.navbar, .banner{
    max-width: 1140px;
    margin: 0 auto;
}
/* banner related styles */
.banner{
    justify-content: center;
    flex-direction: row;
    align-items: flex-end;
}
.banner-title {
    font-weight: 700;
    font-size: 4rem;
    flex-direction: column;
    margin: 0;

}
.banner-container{
    margin-top: 162px;
}
.banner-description{
   margin: 13px 0 0 0;
    
}
/* section related styles */
.content-wrapper{
    margin-top: 120px;
}
.plants{
    display: flex;
     align-items: center;
    flex-direction: column;
    gap: 16px;
}
.plants-description{
    max-width: 888px;
     font-size: 22px;
    text-align: center;
    margin: 0;
}
.plants-title{
    font-weight: 700;
    font-size: 50px;
    margin: 0;
}

.plants-card-wrapper{
     display: grid;
     grid-template-columns:repeat(4,1fr) ;
}
